/* TOP */

.about-top {
    padding: 6.5% 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-top .big-title {
    padding: 1.5% 0%;
}

.about-top .dark-green-btn {
    margin-top: 1.5%;
}

/* MIDDLE */

.about {
    display: flex;
    padding: 7% 20% 8%;
    align-items: center;
    gap: 5rem;
    background-color: #DEE2E2;
}

#slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slogan img {
    border-radius: 100%;
    height: 350px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 50px;
}

#slogan .big-title {
    width: 400px;
    padding-bottom: 12%;
}

.about-text {
    padding: 3% 0%;
}

.signature {
    font-family: 'Sacramento', sans-serif;
    font-size: 1.7rem;
    margin: 0;
    padding-top: 1%;
}

.small-signature {
    margin: 0;
}

/* BOTTOM */

.visit {
    padding: 5% 10% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#stores {
    width: 40%;
    padding-left: 12%;
}

#stores .big-title {
    display: flex;
    flex-direction: column;
}

#stores p {
    width: 90%;
}

#stores p span {
    font-weight: 400;
}

#stores .dark-green-btn {
    margin-top: 6%;
}

#lofoten {
    width: 53%;
    align-items: flex-end;
}

#lofoten img {
    width: 100%;
    max-height: 380px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 50px;
}

/* MEDIA QUERIES MOBILE & IPAD */

@media only screen and (min-width: 0px) and (max-width: 1180px) {

    .about {
        flex-direction: column;
    }

    .about .big-title {
        text-align: center;
    }

    .about-text,
    .signature, 
    .small-signature {
        text-align: center;
    }

    .visit {
        flex-direction: column; 
    }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .about-top {
        padding: 15% 10%;
    }

    .about {
        gap: 1rem;
        padding: 15% 14% 15%;
    }

    #slogan .big-title {
        width: 90%;
    }

    #slogan img {
        width: 250px;
        height: 250px;
    }

    .signature {
        font-size: 1.3rem;
    }

    .visit {
        padding: 12% 10% 15%;
    }

    #stores,
    #lofoten {
        width: 90%;
    }

    #stores {
        padding: 0;
    }

    #stores .dark-green-btn {
        margin: 7% 0% 9%;
    }

    #lofoten img {
        max-height: 150px;
    }
}

/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    .about-top {
        padding: 8% 19% 9%;
    }

    .about {
        gap: 2rem;
        padding: 10% 14% 13%;
    }

    .about-text {
        padding: 0% 5%;
    }

    .signature {
        padding-top: 5%;
    }

    .visit {
        gap: 2rem;
        padding: 8% 10% 10%;
    }

    #stores,
    #lofoten {
        width: 80%;
    }

    #stores {
        align-self: start;
    }

    #lofoten img {
        margin-top: 3%;
        max-height: 280px;
    }
}

@media only screen and (min-width: 1181px) and (max-width: 1440px) {
    .about,
    .visit {
        padding: 7% 15% 10%;
    }

    #stores {
        padding-left: 0;
    }
}