.contact-section {
    display: flex;
    align-items: center;
    position: relative;
}

.contact-section img {
    width: 100%;
    max-height: 700px;
}

.contact-forms {
    width: 100%;
    position: absolute;
    left: 35%;
}

.contact-forms .big-title {
    padding-bottom: 2%;
}

.contact-forms .dark-green-btn {
    margin-top: 1.5%;
}

.contact-infor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-infor > * {
    width: 30%;
    border-radius: 6px;
    border: none;
    outline: 1px solid #233F3F;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
}

.contact-infor input {
    height: 42px;
    padding-left: 1%;
}

.contact-infor textarea {
    height: 200px;
    padding: 1%;
}

/* FAQ */

.contact-details {
    padding: 5% 10% 6%;
}

.contact-details .medium-title {
    padding-left: 3%;
}

.contact-details .medium-title,
.bottom .medium-title {
    font-size: 1.5rem;
}

.faq {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding-top: 4%;
}

.faq .small-title {
    padding-bottom: 4%;
    font-weight: 500;
}

details {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 1.5% 0%;
}

details p {
    font-weight: 400;
}

summary {
    font-weight: 300;
}

summary:hover {
    cursor: pointer;
}

.faq-box {
    padding-left: 10%;
}

/* BOTTOM */

.bottom {
    width: 100%;
    padding: 5% 12%;
    background-color: #DEE2E2;
}

.contact-content {
    display: flex;
    gap: 2rem;
    padding-top: 3%;
}

.figure img {
    width: 90%;
    border-radius: 25px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0rem 3rem;
    align-items: center;
}

.containers .small-title {
    font-weight: 500;
    font-size: 1rem;
}

.underline {
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}