/* ERROR */

.error-box {
    height: 600px;
	width: 100%;
    position: relative;
}

.wrapper-error {
	position: absolute;
    top: 45%;
    left: 50%;
	transform: translate(-50%, -50%);
	height: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.darkcloud {
	position: absolute;
	top: 80%;
	left: 25%;
	padding: 5px;
	height: 150px;
	z-index: 10;
}

.lightening {
	width: 180px;
	height: 140px;
}

.light {
	position: relative;
	float: left;
	margin: 10px;
	left: 77%;
	animation: thunder 0.8s infinite ease-out;
}

.light:nth-child(1) {
	height: 60px;
	top: 100px;
	animation-delay: -1.0s;
}

.light:nth-child(2) {
	height: 80px;
	top: 110px;
	animation-delay: -1.4s;
}

.light:nth-child(3) {
	height: 60px;
	top: 100px;
	animation-delay: -1.6s;
}

@keyframes thunder {
	0% { opacity: 1; }
  
  	20% { opacity: 0; }
  
  	30% { opacity: 0; }
  
  	30% { opacity: 1; }
  
  	80% { opacity: 0; }
  
  	100% { opacity: 0; }
}

.bold {
	font-weight: 500;
}

#refresh {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
    font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

p {
	margin: 0;
}


