.sectionOne {
    width: 100%;
    height: 100%;
    position: relative;
    top: 30px;
}

.sectionOne img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text {
    position: absolute;
    bottom: 24%;
    left: 10%;
    width: 23%;
}

/* CARDS */

.sectionTwo {
    width: 100%;
    height: fit-content;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 3%;
}

figure {
    margin: 0;
}

#arrow-right {
    height: 15px;
    width: 47px;
}

.section-title:hover #arrow-right {
    transition: .5s;
    animation: animate 1s infinite;
}

@keyframes animate {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(25px);
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    grid-template-rows: 350px;
    width: 100%;
    padding: 3% 0%;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: .5s ease-in-out;
    border-radius: 25px;
  }

.card .green-btn {
  box-shadow: 0px 4px 150px 0px #1c2927;
}
  
  .card:hover {
    transform: translateY(10px);
    transition: .3s;
  }
  
  .card:before,
  .card img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
  
  .card:before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 25px;
    background: rgba(190, 216, 213, 0.20);
    backdrop-filter: blur(5px);
    z-index: 2;
    transition: .5s all;
    opacity: 0;
  }
  
  .card:hover:before {
    opacity: 1;
    border-radius: 25px;
  }
  
  .card img {
    object-fit: cover;
    position: absolute;
  }

  .card .card-info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
  }
  
  .card:hover .card-info {
    opacity: 1;
  }

/**/

  .sectionTree {
    background-color: #DEE2E2;
    padding: 3% 10%;
    display: flex;
  }

/**/

.sectionFour {
  padding: 5% 10%;
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: #FEFDFD;
  color: #233F3F;
}

.sectionFour img {
  height: 500px;
  width: 40%;
  border-radius: 25px;
  object-fit: contain;
  object-position: top;
}

.container {
  width: 60%;
}

.container p {
  width: 78%;
  font-weight: 400;
  padding: 2% 0%;
}

li {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.container .dark-green-btn {
  margin-top: 4%;
}

/**/

.sectionFive {
    background-color: #F2F2F2;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 4% 10%;
}

.sectionFive .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/**/

.sectionSix {
    background-image: url(/IMG/forrest.png);
    background-size: 100%;
    height: 500px;
}


