body {
    transition: opacity 0.5s ease-in-out;
}

.desktop-hidden {
    display: none;
}

.hidden {
    display: none;
}

/* TOP */

.hero-section {
    display: flex;
    width: 100%;
}

.hero-section img {
    width: 60%;
    border-radius: 0px 0px 25px 0px;
}

.hero-text .big-title {
    display: flex;
    flex-direction: column;
}

.hero-text h1 span {
    font-size: 1.5rem;
    font-weight: 500;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.hero-text p {
    padding-right: 30%;
}

/* SORTING */

.sort-by {
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    padding: .5% 10%;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    z-index: 11;
}

.navigation {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    display: flex;
    gap: 1rem;
}

.underline {
    border-bottom: 1px solid rgba(35, 63, 63, 0.45);
}

.sorting-selection {
    display: flex;
    gap: 1.5rem;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: #233F3F;
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* FILTER */

.shop {
    position: relative;
    display: flex;
    padding: 0%;
    background-color: #DEE2E2;
}

.filter {
    height: 100%;
    background: #F8F8F8;
    width: 22%;
    padding: 8% 0% 30% 40px;
    background-color: white;
}

.filter > div {
    padding-top: 12%;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    padding: 2% 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.filter .small-title {
    font-weight: 500;
}

#sale {
    font-weight: 500;
}

.size,
.color,
.activity,
.gender {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2% 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.gender {
    align-items: end;
}

#size1,
#color1,
#activity1,
.first-label,
#men {
    margin-top: 12%;
}

.input {
    height: 22px;
    width: 22px;
    border: 1px solid rgba(35, 63, 63, 0.40);
}

.filter-2 .small-title,
.filter-3 .small-title,
.filter-4 .small-title,
.filter-5 .small-title,
.filter-6 .small-title {
    font-size: 1rem;
}

/* SHOP-GRID */

.product-list {
    width: 78%;
    height: 100%;
    padding: 8% 10% 5% 4%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 420px);
    position: unset;
    gap: 1.5rem;
}

.product-list img {
    max-height: 210px;
}

.product-info {
    height: fit-content;
}

.product-info .gender,
.product-info .discountedPrice {
    margin: 0;
    padding: 0;
}

.product-info .small-title {
    font-size: .85rem;
}

.product {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
}

.filter .actions {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 24px;
}

.filter .actions .filter-button {
    border: 2px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 16px;
    margin-top: 24px;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
}

.filter .actions .filter-button:active {
    background-color: #bbb4;
}

.filter-mobile-button button {
    background-color: white;
    display: flex;
    gap: 10px;
    font-size: 1rem;
    border-radius: 50px;
    padding: 6px 16px;
} 

.filter-mobile-button  button:active {
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}

@media only screen and (min-width: 0) and (max-width: 768px) {
    .hero-section {
        flex-direction: column;
    }

    .sort-by {
        height: 50px;
    }

    .hero-section img {
        width: 100%;
    }

    .product-list .product img {
        width: 100%;
    }

    .product-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .sort-by .navigation {
        display: none;
    }

    .shop {
        top: 50px;
        flex-direction: column;
    }

    .desktop-hidden {
        display: flex;
    }

    .filter {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        padding-top: 30px;
        transition: left 0.5s ease;
        height: fit-content;
    }

    .filter-mobile-button {
        justify-content: end;
        align-items: center;
        padding: 24px 24px 0;
    }
    
    .filter-mobile-button i {
        font-size: 1rem;
    }

    .filter-mobile-hidden {
        left: -100%;
    }

    .filter .actions .filter-button {
        margin-top: 0;
    }

    .mobile-hidden {
        display: none;
    }
}

@media only screen and (min-width: 0) and (max-width: 1080px) {
    .product-list {
        position: relative;
        padding: 24px;
        padding-bottom: 200px;
        top: 70px;
        width: 100%;
        overflow: auto;
    }

    .filter {
        padding-left: 40px;
        min-width: 240px;
    }

    .sort-by {
        padding-left: 40px;
        padding-right: 40px;
    }

    .hero-text {
        padding-top: 24px;
    }

    .hero-text p {
        padding-right: 24px;
    }
    .product-list .product {
        min-height: 420px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1080px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
