/* TOP */

main {
    position: relative;
    top: 140px;
}

.hero-section {
    display: flex;
    width: 100%;
}

.hero-section img {
    width: 60%;
    border-radius: 0px 0px 25px 0px;
}

.hero-text .big-title {
    display: flex;
    flex-direction: column;
}

.hero-text h1 span {
    font-size: 1.5rem;
    font-weight: 500;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.hero-text p {
    padding-right: 30%;
}

/* SORTING */

.sort-by {
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    padding: .5% 10%;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%
}

.navigation {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    display: flex;
    gap: 1rem;
}

.underline {
    border-bottom: 1px solid rgba(35, 63, 63, 0.45);
}

.sorting-selection {
    display: flex;
    gap: 1.5rem;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: #233F3F;
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* FILTER */

.shop {
    display: flex;
    padding: 0%;
    background-color: #DEE2E2;
}

.filter {
    height: 100%;
    background: #F8F8F8;
    width: 22%;
    padding: 8% 0% 30% 10%;
    background-color: white;
}

.filter > div {
    padding-top: 12%;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    padding: 2% 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.filter .small-title {
    font-weight: 500;
}

#sale {
    font-weight: 500;
}

.size,
.color,
.activity {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2% 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#size1,
#color1,
#activity1,
.first-label {
    margin-top: 12%;
}

.input {
    height: 22px;
    width: 22px;
    border: 1px solid rgba(35, 63, 63, 0.40);
}

/* SHOP-GRID */

.product-list {
    width: 78%;
    height: 100%;
    padding: 8% 10% 5% 4%;
    grid-template-rows: repeat(4, 420px);
    position: unset;
    gap: 1.8rem;
}

.product-list img {
    max-height: 210px;
}

.product-info {
    height: fit-content;
}

.product-info .small-title {
    font-size: .9rem;
}

.product {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
}