.banner,
header {
    width: 100%;
    max-width: 1800px;
    position: fixed;
    z-index: 99;
    overflow: visible;
    display: flex;
}

.banner {
    height: 50px;
    background-color: #233F3F;
    top: 0;
    align-items: center;
    justify-content: center;
}

.banner p {
    font-size: .8rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: 1px;
    color: hsl(0, 0%, 95%);
}

.banner-icons {
    color: hsl(0, 0%, 95%);
    position: absolute;
    right: 9%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

header {
    top: 50px;
    height: 90px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo-container {
    width: 10%;
    height: 100%;
    margin-left: 10%;
    margin-right: 5%;
}

.logo-container a {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 90%;
    display: flex;
    align-items: center;
}

#logo {
    height: 60%;
}

.nav-header {
    padding-right: 10%;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-item {
    color: #233F3F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.hamburger-navigation {
    padding-right: 10%;
    display: flex;
    align-items: center;
}

#shoppingcart {
    height: 21px;
    width: 21px;
    position: relative;
}

#count {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #BED8D5;
    border-radius: 50px;
    top: 12%;
    right: 7.7%;
    color: #233F3F;
}

.search-bar {
    display: flex;
    align-items: center;
    padding-right: 4rem;
    position: relative;
    padding-left: 2%;
}

.search-bar input {
    width: 350px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #b2bab9;
}

#search {
    font-size: 1rem;
    color: #233F3F;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 4.5rem;
    background-color: transparent;
}

/* MEDIA QUERIES MOBILE AND IPAD */

@media only screen and (min-width: 0px) and (max-width: 1180px) {

    .nav-header {
        display: none;
    }

    .nav-header.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 50%;
        right: 0;
        z-index: 5;
        padding: 5% 0%;
    }

    .nav-header {
        background: rgba(222, 226, 226, 0.90);
        backdrop-filter: blur(8.5px);
        border-radius: 0px 0px 0px 25px;
    }

    .hamburger-menu {
        height: 20px;
        width: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 100;
        order: 2;
    }

    .nav-item {
        text-align: center;
        padding: 1% 5%;
    }

    .hamburger-menu span {
        height: 3px;
        width: 25px;
        background-color: #233F3F;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .hamburger-menu.closed span:nth-child(1) {
        transform: rotate(44deg) translate(7px, 7px);
    }
    
    .hamburger-menu.closed span:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger-menu.closed span:nth-child(3) {
        transform: rotate(-44deg) translate(5px, -5px);
    }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    header {
        height: 75px;
    }

    .nav-item {
        font-size: .85rem;
    }

    .nav-header.show {
        top: 75px;
        gap: 2.5rem;
    }

    .search-bar input {
        display: none;
    }

    .search-bar {
        padding-right: 1.1rem;
    }

    #search {
        position: unset;
        font-size: 1.2rem;
    }

    .banner p {
        font-size: .6rem;
    }

    #logo {
        height: 45%;
    }
}

/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    .nav-header.show {
        top: 90px;
        gap: 3rem;
    }

    .search-bar {
        padding-right: 4.5rem;
    }

    #search {
        right: 5rem;
    }
}