.banner,
header {
    width: 100%;
    max-width: 1800px;
    position: fixed;
    z-index: 99;
    overflow: visible;
    display: flex;
}

.banner {
    height: 50px;
    background-color: #233F3F;
    top: 0;
    align-items: center;
    justify-content: center;
}

.banner p {
    font-size: .8rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: 1px;
}

header {
    top: 50px;
    height: 90px;
    background-color: #F2F2F2;
}