
.product-container {
    height: fit-content;
    top: 150px;
    background-color: #FEFDFD;
    padding: 4% 10%;
    display: flex;
    gap: 6rem;
}

.product-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.thunderbolt {
    height: 750px;
    width: 500px;
    position: relative;
    overflow: hidden;
}

#thunderbolt-jacket {
    object-fit: contain;
    height: 90%;
    padding: 8% 8% 0%;
    width: 100%;
    transition: transform .6s ease-in-out;
}

.thunderbolt:hover img {
    transform: scale(1.1);
}

.product-info {
    width: 60%;
    color: #233F3F;
}

.prod-info {
    width: 76%;
}

#small-logo {
    height: 70px;
    width: 140px;
    object-fit: contain;
    margin-bottom: 2%;
}

.rating {
    font-size: 1.2rem;
    color: #233F3F;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.rating p {
    font-size: 1rem;
}

/* Colors */

.colors {
    height: fit-content;
    flex-direction: column;
}

.circles {
    gap: 1rem;
    display: flex;
}

.circle:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.circle {
    border-radius: 100%;
    height: 45px;
    width: 45px;
    border: 2px solid rgba(190, 216, 213, 0.50);
    cursor: pointer;
}

#color-1 {
    background-color: #02B1FF;
}

#color-2 {
    background-color: red;
}

#color-3 {
    background-color: black;
}

/* Sizes */

.sizes {
    display: flex;
    gap: 1rem;
    padding: 0% 0% 5%;
}

.sizeBtn {
    height: 44px;
    width: 54px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #233F3F;
    color: #233F3F;
}

.sizeBtn:hover {
    background-color: #BED8D5;
    transition: .4s;
    font-weight: 500;
}

/* DETAILS / SUMMARY */

.product-details {
    padding: 5% 10%;
    display: flex;
}

.product-information,
.details {
    width: 50%;
}

.product-information {
    padding-right: 5%;
}

.product-information .medium-title {
    padding-bottom: 3%;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding-left: 5%;
}

/* SIZEGUIDE */

.sizeguide {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    padding: 3% 0%;
}

details {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.size p {
    font-weight: 500;
}

.size,
.waist {
    background-color: #BED8D5;
}

.chest,
.sleeve-length {
    background-color: white;
}

.size,
.chest,
.waist,
.sleeve-length {
    padding: 10px;
}

.size-label {
    font-weight: bold;
}

.bold {
    font-weight: 500;
}

/* REVIEWS */

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    margin: 2% 0%;
    padding: 4%;
}

.review .small-title {
    padding-bottom: 2%;
}

.review .rating {
    font-size: 1rem;
}