#green-container {
    background-color: #DEE2E2;
    padding-bottom: 5%;
}

.store-container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 7rem;
}

.store-container img {
    width: 50%;
    border-radius: 0px 0px 25px 0px;
}

img {
    object-fit: cover;
}

.text-container p {
    margin: 15px 0px;
}

.text-container {
    align-self: center;
}

.text-container .big-title {
    padding: 8% 0% 12%;
    font-size: 1.8rem;
}

.text-container .medium-title {
    padding-bottom: 3%;
}

.icon {
    padding-right: 5%;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 3% 0% 1%;
}

#white-container {
    padding-top: 5%;
}

#white-container img {
    border-radius: 25px 0px 0px 0px;
}

#white-container .text-container {
    width: 50%;
    padding-left: 10%;
    padding-bottom: 5%;
}

/* MAP */

.contactInfo {
    display: flex;
}

.map {
    padding: 5% 0%;
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #DEE2E2;
}

#map {
    width: 60%;
    border-radius: 25px;
    height: 300px;
    border: none;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.contact p {
    width: 55%;
    text-align: center;
    padding: 1.5% 0%;
}

.contact .big-title {
    font-size: 1.8rem;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 0px) and (max-width: 1180px) {
    .store-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .store-container img,
    #white-container img {
        border-radius: unset;
        width: 100%;
    }

    #white-container .text-container,
    .text-container {
        width: 90%;
    }

    .text-container {
        padding-left: 10%;
    }

    #white-container .text-container,
    .map {
        order: 2; 
    }

    #white-container,
    #white-container img {
        padding-top: 0%;
    }

    .map,
    .contact {
        width: 100%;
    }

    .contactInfo {
        flex-direction: column;
    }

    .contact {
        background-color: #DEE2E2; 
    }

    .contact p {
        width: 80%;
    }

    .map {
        background-color: unset;
        width: 100%;
    }

    #map {
        width: 80%; 
    }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    
    .store-container img {
        height: 300px;
    }

    .text-container {
        width: 90%;
        padding: 5% 0% 7% 10%;
    }

    .text-container .big-title,
    .contact .big-title {
        font-size: 1.3rem;
    }

    #white-container .text-container {
        padding: 12% 10%;
    }

    .contact {
        padding: 12% 0%;
    }

    .map {
        padding: 12% 0%;
    }

    #map {
        max-height: 200px;
    }
}

/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    .store-container img {
        height: 400px;
        object-position: bottom;
    }

    .text-container .big-title {
        padding: 5% 0% 3%;
    }

    .text-container {
        padding: 4% 10%;
    }

    #white-container .text-container {
        padding: 6% 10% 8%;
    }

    .contact,
    .map {
        padding: 10%;
    }
  }