html {
    background-color: #BED8D5;
    font-size: 18px;
    color: #233F3F;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin: 0 auto;
    max-width: 1800px;
    background-color: #F8F8F8;
}

main {
    position: relative;
    top: 140px;
    width: 100%;
}
  
/* FONTS */

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #233F3F;
}

.big-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
}

.medium-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.small-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* BUTTONS */

button,
.stroke-btn,
.green-btn,
.dark-green-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.stroke-btn,
.green-btn,
.dark-green-btn {
    border-radius: 30px;
    color: hsl(0, 0%, 95%);
    border: none;
    height: 44px;
}

.stroke-btn {
    width: fit-content;
    max-width: 160px;
    border: 1px solid hsl(0, 0%, 95%);
    background-color: transparent;
    padding: 3% 6%;
}

.stroke-btn:hover {
    background-color: hsl(0, 0%, 95%);
    color: #233F3F;
    font-weight: 600;
    transform: scale(1.1);
    transition: .5s;
}

.green-btn,
.dark-green-btn {
    width: 140px;
}

.green-btn {
    background-color: #BED8D5;
    color: #233F3F;
    font-weight: 600;
}

.green-btn:hover,
.dark-green-btn:hover {
    transform: scale(1.1);
    transition: .5s;
}

.dark-green-btn {
    background-color: #233F3F;
}

/* FORMS / INPUT */

input::placeholder,
input {
    color: #233F3F;
    opacity: 80%;
}

/* SALE */

.onSale {
	height: fit-content;
	display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
}

.circle {
	height: 55px;
	width: 55px;
	padding: 3%;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: .9rem;
    font-weight: 500;
    letter-spacing: .8px;
	font-family: 'Montserrat', sans-serif;
	background-color: #BED8D5;
    color: #233F3F;
}

/* MEDIA QUERIES MOBILE & IPAD */

@media only screen and (min-width: 0px) and (max-width: 1180px) {
    p, li {
        font-size: .9rem;
    }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    main {
        position: relative;
        top: 126px;
    }

    .big-title {
        font-size: 1.3rem;
    }
  
    .medium-title {
        font-size: 1.1rem;
    }
  
    .small-title {
        font-size: 1rem;
    }

    p {
        font-size: .8rem;
    }

    .stroke-btn,
    .green-btn,
    .dark-green-btn {
        height: 40px;
        font-size: .75rem;
    }

    .green-btn,
    .dark-green-btn {
        width: 110px;
    }

    input::placeholder {
        font-size: .7rem;
    }
}

/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    .big-title {
      font-size: 1.8rem;
    }

    .medium-title {
        font-size: 1.2rem;
    }

    .small-title {
        font-size: 1rem;
    }

    .stroke-btn,
    .green-btn,
    .dark-green-btn {
        height: 42px;
        font-size: .85rem;
    }

    .green-btn {
        width: 110px;
    }

    .dark-green-btn {
        width: 125px;
    }
  }

