html {
    background-color: #BED8D5;
    font-size: 18px;
    color: #233F3F;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin: 0 auto;
    max-width: 1800px;
    background-color: #F8F8F8;
}

main {
    position: relative;
    top: 140px;
}
  

/* FONTS */

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #233F3F;
}

.big-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
}

.medium-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.small-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* BUTTONS */

.stroke-btn,
.green-btn,
.dark-green-btn {
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    display: inline-block;
    color: hsl(0, 0%, 95%);
    border: none;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stroke-btn {
    width: fit-content;
    max-width: 160px;
    border: 1px solid hsl(0, 0%, 95%);
    background-color: transparent;
    padding: 3% 6%;
}

.stroke-btn:hover {
    background-color: hsl(0, 0%, 95%);
    color: #233F3F;
    font-weight: 600;
    transform: scale(1.1);
    transition: .5s;
}

.green-btn,
.dark-green-btn {
    width: 140px;
}

.green-btn {
    background-color: #BED8D5;
    color: #233F3F;
    font-weight: 600;
}

.green-btn:hover,
.dark-green-btn:hover {
    transform: scale(1.1);
    transition: .5s;
}

.dark-green-btn {
    background-color: #233F3F;
}

/* FORMS / INPUT */

input::placeholder,
input {
    color: #233F3F;
    opacity: 80%;
}

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    p, li {
        font-size: .9rem;
    }
}

@media only screen and (min-width: 0px) and (max-width: 1180px) {
    .big-title {
      font-size: 1.8rem;
    }

    .medium-title {
        font-size: 1.2rem;
    }

    .small-title {
        font-size: 1rem;
    }
  }

/*
.big-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
}

.medium-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.small-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
*/