.wrapper {
    display: flex;
    padding-right: 10%;
    background-color: #DEE2E2;
}

.payment-banner.rightSide {
    background-image: url(/IMG/payment.png);
    background-position: 80%;
    height: 1000px;
}

#two {
    background-color: #233F3F;
    color: white;
}

.info,
.shipping,
.payment,
.medium-title,
.inputs {
    display: flex;
    flex-direction: column;
}

.info {
    padding-left: 10%;
    padding-top: 6%;
    padding-bottom: 4%;
    width: 40%;
    justify-content: center;
}

.shipping,
.payment {
    gap: 1rem;
}

.medium-title {
    font-size: 1.5rem;
    padding-bottom: 5%;
}

.medium-title span {
    font-size: 1.7rem;
    font-weight: 600;
}

.inputs label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding-bottom: 3%;
}

.inputs input {
    height: 44px;
    border-radius: 6px;
    border: 1px solid rgba(35, 63, 63, 0.45);
    padding-left: 6%;
}

.inputs input[type=date] {
    font-family: 'Poppins', sans-serif;
    color: #233F3F;
    font-size: .9rem;
    font-weight: 300;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.expDate,
.CVC {
    display: flex;
    flex-direction: column;
}

.CVC label,
.city label,
.zip label {
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
}

.CVC input {
    width: 60%;
}

.payment {
    padding: 6% 0% 10%;
}

.payment .small-title {
    font-weight: 500;
}

.CVC-container {
    display: flex;
    gap: 1rem;
}

#question {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #7D9F9F;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* MEDIA QUERIES MOBILE & IPAD */

@media only screen and (min-width: 0px) and (max-width: 1180px) {
    .wrapper {
        flex-direction: column;
        padding: 0;
    }

    .payment-banner.rightSide {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .info {
        width: 90%;
    }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .medium-title {
        font-size: 1.1rem;
        padding-bottom: 5%;
        width: 100%;
    }

    .payment-banner.rightSide {
        padding-top: 0;
        height: 70vh;
    }

    .stages {
        width: 97%;
        top: 1%;
    }

    #second {
        left: 46%;
    }
    
    .medium-title span {
        font-size: 1.2rem;
    }

    .double {
        grid-template-columns: 1fr;
    }

    .shipping,
    .payment {
        width: 100%;
    }

    .info {
        padding: 10% 0% 15% 10%
    }
}

/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) and (max-width: 1180px) {

    .payment-banner.rightSide {
        max-height: 820px;
    }

    .stages {
        width: 70%;
        margin: 0 auto;
    }

    .line {
        background-color: #233F3F;
    }

    .info {
        padding: 8% 10% 12%;
    }

    .inputs label {
        padding-bottom: 1%;
    }

    .small-title {
        padding-bottom: 2%;
    }

    .CVC-container input {
        width: 85%;
    }

    .payment {
        padding: 5% 0% 6%;
    }
  }